{% extends 'base.html' %}

{% block extra_head %} {{ form.media.css }}{% endblock %}

{% block title %} {{ block.super }} New document{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Save</button>
</form>
{% endblock %}


{% block extra_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{{ form.media.js }}
<script>
	$(document).ready(function() {
	$(".select2-container").css("width","340px");
})
</script>
{% endblock %}